* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: auto;
	font-family: "Courier New", Courier, monospace;
}

::-webkit-scrollbar {
	width: 0;
	height: 0;
}

header {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 1rem;

	color: #eee;
	background-color: #333333bb;
	background-color: #333333;
	width: 100%;
	height: 70px;
	padding: 15px 36px;

	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
}
.logo {
	width: 40px;
	height: auto;
}
.primary-heading {
	font-size: 24px;
	letter-spacing: -0.5px;
	word-spacing: -7px;
}

.mainContainer {
	/* padding: 20px; */
	min-height: calc(100vh - 110px);
	/* height: 1122.519685px; */
	max-width: 793.7007874px;
	width: 100%;
	/* background-color: #e0dd1b; */
	background-color: #fff;
	background: repeating-conic-gradient(#ccc 0% 25%, #fff 0% 50%) 50% / 20px 20px;
	position: relative;
	top: 70px;
	overflow: hidden;
}

.mainContainer::before {
	display: none;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	transition: all 1s;
	justify-self: center;
	align-self: center;
	transform-origin: center;
	z-index: 2;
	transition: all 0.3s, box-shadow 0.3s ease;
	pointer-events: none;
}

.dragHover.mainContainer::before {
	content: "";
	display: flex;
	background-color: #4f529ee9;
	pointer-events: none;
	box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
	animation: fadeInOut 2s infinite;
}

.loader {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: -1;
}

.loader::before,
.loader::after {
	content: "";
	position: absolute;
	backface-visibility: hidden;
	will-change: transform;
	/* GPU accelerated */
}

.loader::before {
	width: 100%;
	height: 100%;
	background-color: #333;
}

.loader::after {
	--c: no-repeat linear-gradient(#fff 0 0);
	width: 95px;
	height: 95px;
	background: var(--c), var(--c), var(--c), var(--c), var(--c), var(--c),
		var(--c), var(--c), var(--c);
	background-size: 16px 16px;

	animation: boxMoveing 1s infinite, fadeInOut 1s infinite;
}

.showLoader ~ .loader {
	display: flex;
	z-index: 999;
}

@keyframes fadeInOut {
	0% {
		opacity: 0.5;
		transform: scale(1.2);
		/* background-position: 0 0, 0 50%, 0 100%, 50% 100%, 100% 100%, 100% 50%,
			100% 0, 50% 0, 50% 50%; */
	}

	50% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0.5;
		transform: scale(1.2);
		/* background-position: 0 50%, 0 100%, 50% 100%, 100% 100%, 100% 50%, 100% 0,
			50% 0, 0 0, 50% 50%; */
	}
}

@keyframes boxMoveing {
	0%,
	40% {
		background-position: 0 0, 0 50%, 0 100%, 50% 100%, 100% 100%, 100% 50%,
			100% 0, 50% 0, 50% 50%;
	}

	60%,
	100% {
		background-position: 0 50%, 0 100%, 50% 100%, 100% 100%, 100% 50%, 100% 0,
			50% 0, 0 0, 50% 50%;
	}
}

.imgContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, 110px);
	gap: 20px;
	padding: 10px;
}

.img {
	display: inline-block;
	/* width: 110px; */
	width: 100%;
	height: auto;
	border: 3px solid #333;
}

.utilityBox {
	color: #eee;
	min-width: min-content;
	max-width: 30vw;
	background-color: #33333386;
	padding: 20px;
	border-radius: 16px;
	display: grid;
	grid-template-columns: repeat(2, minmax(100px, 300px));
	align-items: center;
	gap: 15px;

	position: fixed;
	top: 80px;
	right: 30px;
	z-index: 99;
	color: #eee;
	word-wrap: nowrap;
	hyphens: auto;
}

.utilityBox label {
	font-size: 18px;
}

.utilityBox input {
	color: inherit;
	background-color: transparent;
}

.utilityBox label[for="fileInput"],
.utilityBox input[type="file"] {
	grid-column: 1 / -1;
}

.utilityBox input[type="number"] {
	padding: 4px 12px;
	border: 2px solid #eee;
}

.btn {
	color: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 12px;
	background-color: transparent;
	border: 2px solid #eee;
	border-radius: 8px;
	cursor: pointer;
	transition: all 0.4s;
}

.btn:hover {
	background-color: #777;
}

footer {
	font-size: 18px;
	color: #eee;
	background-color: #333333bb;
	/* background-color: #333333; */
	width: 100%;
	height: 40px;
	padding: 0 36px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 99;
}

.aurthor a:link {
	color: inherit;
}

/* Hide everything except #content when printing */
@media print {
	body * {
		visibility: hidden;
	}

	.mainContainer,
	.mainContainer * {
		visibility: visible;
		/* background: #fff; */
	}

	.mainContainer {
		position: absolute !important;
		left: 0 !important;
		top: 0 !important;
		margin: 0 !important;
	}

	.mainContainer::before {
		content: none;
	}
}

#loader {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: aquamarine;
}
