@mixin clearfix {
	// (__.row::after__)
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin absCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* 
  // =====MEDIA-QUERY-MANAGER=====$BREAKPOINT-ARGUMENT-CHOISES=====
	  - 0-420PX			:	SMALL-PHONE
      - 0-560PX 	   	:   PHONE
      - 560-940PX    	:   TAB-PORT
      - 940-1080PX   	:   TAB-LAND
      - 1080-1800PX  	:   NORMAL STYLE
      - 1800PX+      	:   BIG-DESK

	  	************Screens Width************
		- screen: 1080px	= 67.5em;
		- screen: 940px		= 58.75em;
		- screen: 560px		= 35em;
*/

// ===========ITS THE @MIXIN FUNCTINALITY TRICK=================
@mixin respond($breakpoint) {
	@if $breakpoint == small-phone {
		// WIDTH < 420PX
		@media only screen and (max-width: 26.25em) {
			@content;
		}
	}

	@if $breakpoint == phone {
		// WIDTH < 560PX
		@media only screen and (max-width: 35em) {
			@content;
		}
	}

	@if $breakpoint == tab-port {
		// WIDTH < 940PX
		@media only screen and (max-width: 58.75em) {
			@content;
		}
	}

	@if $breakpoint == tab-land {
		// WIDTH < 1080PX
		@media only screen and (max-width: 67.5em) {
			@content;
		}
	}

	@if $breakpoint == big-desk {
		// WIDTH > 1800PX
		@media only screen and (min-width: 112.5em) {
			@content;
		}
	}
}
