/* 
  // =====MEDIA-QUERY-MANAGER=====$BREAKPOINT-ARGUMENT-CHOISES=====
	  - 0-420PX			:	SMALL-PHONE
      - 0-560PX 	   	:   PHONE
      - 560-940PX    	:   TAB-PORT
      - 940-1080PX   	:   TAB-LAND
      - 1080-1800PX  	:   NORMAL STYLE
      - 1800PX+      	:   BIG-DESK

	  	************Screens Max Width************
		- screen: 1080px	= 67.5em;
		- screen: 940px		= 58.75em;
		- screen: 560px		= 35em;
*/
@keyframes MoveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes MoveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes MoveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes logoSpin {
  from {
    transform: scale(1) rotate(0deg); }
  to {
    transform: scale(1.2) rotate(360deg); } }

/* ================================Loading Animations=================== */
@keyframes fadeInOut {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.5; } }

@keyframes scaling {
  0% {
    transform: scale(1.2); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(1.2); } }

@keyframes boxMoveing {
  0%,
  40% {
    background-position: 0 0, 0 50%, 0 100%, 50% 100%, 100% 100%, 100% 50%, 100% 0, 50% 0, 50% 50%; }
  60%,
  100% {
    background-position: 0 50%, 0 100%, 50% 100%, 100% 100%, 100% 50%, 100% 0, 50% 0, 0 0, 50% 50%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 67.5em) {
    html {
      font-size: 53.125%; } }
  @media only screen and (max-width: 35em) {
    html {
      font-size: 46.875%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  width: auto;
  height: 100vh;
  /*
	background: repeating-linear-gradient(
		to right,
		$color-gray-2 10%,
		$tertiary-color-light 20%
	); 
	*/
  background: linear-gradient(135deg, #1e1e2f, #2c3e50);
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden; }

section {
  height: 100%; }

::-webkit-scrollbar {
  width: 0;
  height: 0; }

::selection {
  color: #eee !important; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  color: #f5f5f5; }

.heading__primary {
  font-size: 2.4rem;
  letter-spacing: -0.5px;
  word-spacing: -0.7px; }

.btn {
  color: #fff;
  background: #667eea;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 0.8rem 1.2rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: all 0.3s ease; }
  .btn:hover {
    background: #5265bb;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.2); }
  .btn:active {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.2); }
  .btn__menu {
    display: none;
    align-self: center;
    margin: 0 0 0 auto;
    /* ================================Media Query================== */ }
    @media only screen and (max-width: 58.75em) {
      .btn__menu {
        display: flex !important; } }

/* ================================MainContainer - DropBox================= */
.mainContainer {
  max-width: 793.7007874px;
  width: 100%;
  height: 100%;
  background: #2a2a40;
  padding: 1rem 1rem 15rem 1rem;
  box-shadow: 0 2rem 2rem 1rem rgba(0, 0, 0, 0.2), 0px 4rem 4rem 4rem rgba(0, 0, 0, 0.2), inset 0px 2rem 4rem rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  /* ================================Media Query===================== */ }
  @media only screen and (max-width: 67.5em) {
    .mainContainer {
      max-width: 60vw; } }
  @media only screen and (max-width: 58.75em) {
    .mainContainer {
      max-width: 100vw; } }
  .mainContainer::before {
    display: none;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(#ccc 0% 25%, #fff 0% 50%) 50%/2rem 2rem, rgba(70, 76, 179, 0.8);
    background-blend-mode: color-burn;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transform-origin: center;
    box-shadow: inset 0 0 1.5rem rgba(0, 0, 0, 0.2);
    pointer-events: none;
    transition: all 0.3s, box-shadow 0.3s ease; }

.dragHover.mainContainer::before {
  content: "";
  display: table;
  pointer-events: none;
  animation: fadeInOut 3s infinite linear, scaling 2s 2 linear; }

/* ================================ImagesContainer========================= */
.imgContainer {
  min-height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 110px);
  grid-template-rows: max-content;
  align-content: start;
  gap: 2rem;
  break-inside: avoid-page; }

.img {
  display: inline-block;
  /* width: 11rem; */
  width: 100%;
  height: auto;
  border: 0.3rem solid #1e1e2f;
  backface-visibility: hidden;
  break-inside: avoid-page;
  cursor: pointer;
  box-shadow: 0 0.4rem 1.5rem rgba(245, 245, 245, 0.2);
  transition: transform 0.2s; }

.img:hover {
  filter: drop-shadow(0 0 2rem rgba(147, 152, 255, 0.4));
  transform: scale(1.03); }

/* ================================UtilityBox============================== */
.utilityBox {
  color: #eee;
  background: #2a2a40;
  min-width: min-content;
  max-width: 32vw;
  padding: 2.4rem;
  border: 2px solid #f5f5f5;
  border-radius: 1.2rem;
  box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.2), 0 0 4rem 4rem rgba(0, 0, 0, 0.2), inset 0 0 4rem rgba(0, 0, 0, 0.6);
  hyphens: auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(10rem, 30rem));
  align-items: center;
  gap: 1rem;
  position: fixed;
  top: 50%;
  right: 3rem;
  transform: translateY(-50%);
  z-index: 99;
  /* ================================Media Query===================== */ }
  @media only screen and (max-width: 58.75em) {
    .utilityBox {
      max-width: 60vw;
      transform: translate(calc(100% + 5rem), -50%);
      transition: all 0.6s ease-in-out; }
      .utilityBox.show {
        transform: translate(0, -50%); } }
  @media only screen and (max-width: 35em) {
    .utilityBox {
      max-width: 80vw; }
      .utilityBox.show {
        transform: translate(2rem, -50%); }
      .utilityBox .btn {
        grid-column: 1 / -1; } }

.utilityBox label:not(:first-child) {
  margin-top: 1.4rem; }

.utilityBox label,
.utilityBox input {
  grid-column: 1 / -1;
  color: inherit;
  width: 100%;
  display: block;
  border: none;
  outline: none; }

.utilityBox input[type="number"] {
  color: #333;
  background-color: #eee;
  padding: 0.4rem 1.2rem;
  border: 0.2rem solid #eee;
  border-radius: 0.6rem; }
  .utilityBox input[type="number"]::selection {
    color: #000 !important; }

/* ================================Footer================================== */
.footer {
  color: #eee;
  background: #1e1e2f;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9; }

.aurthor a:link {
  display: inline-block;
  color: #9ae6b4;
  backface-visibility: hidden;
  transition: all 0.3s; }

.aurthor a:hover {
  color: #9ae6b5dc;
  transform: translateY(-0.1rem) scale(1.05); }

.aurthor a:active {
  transform: translateY(0) scale(1); }

.header {
  color: #eee;
  background: linear-gradient(90deg, #667eea, #764ba2);
  width: 100%;
  height: 7rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  position: relative;
  top: 0;
  left: 0; }
  .header__logo {
    width: 4rem;
    height: 4rem;
    mix-blend-mode: color-dodge;
    will-change: filter;
    transition: filter 0.3s;
    animation: logoSpin infinite 9s linear; }

.navigation__button {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: #fff;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 58.75em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 35em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.4s; }
  .navigation__link:link span, .navigation__link:visited span {
    display: inline-block;
    margin-right: 1.5rem; }

.navigation__link:hover, .navigation__link:active {
  color: #667eea;
  background-position: 100%;
  transform: translateX(1rem); }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    display: inline-block;
    width: 3rem;
    height: 2px;
    background-color: #333;
    transition: all 0.2s; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__button .navigation__icon::before {
  transform: rotate(135deg);
  top: 0; }

.navigation__button .navigation__icon::after {
  transform: rotate(-135deg);
  top: 0; }

.sectionHome {
  height: 100%; }

/* ================================Printing Page=========================== */
@media print {
  body {
    background: repeating-conic-gradient(#ccc 0% 25%, #fff 0% 50%) 50%/2rem 2rem; }
    body * {
      visibility: hidden !important; }
  .mainContainer {
    background: none !important;
    padding: 0 !important;
    box-shadow: none !important;
    visibility: visible !important;
    overflow: visible !important; }
    .mainContainer * {
      visibility: visible !important; }
  .utilityBox,
  .header,
  .footer {
    display: none !important; }
  @page {
    padding: 1.5rem; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 58.75em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 58.75em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.overflow-fix {
  overflow: hidden; }

.pdf-export {
  background: #fff; }

/* ================================Page Download Loading================ */
.loader {
  width: 100%;
  height: 100%;
  background: #2a2a40;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9; }
  .loader::after {
    content: "";
    position: absolute;
    backface-visibility: hidden;
    will-change: transform;
    /* GPU accelerated */
    width: 9.5rem;
    height: 9.5rem;
    border-radius: 1rem;
    --c: no-repeat linear-gradient(#fff);
    background: var(--c), var(--c), var(--c), var(--c), var(--c), var(--c), var(--c), var(--c), var(--c);
    background-size: 1.6rem 1.6rem;
    background-position: 0 0, 0 50%, 0 100%, 50% 100%, 100% 100%, 100% 50%, 100% 0, 50% 0, 50% 50%;
    animation: fadeInOut 1s infinite, logoSpin 1s infinite !important;
    z-index: 99999; }

.showLoader ~ .loader {
  display: flex;
  z-index: 9999; }
