//  /* ===btn=== */
.btn {
	color: $color-white;
	background: $primary-color;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	padding: 0.8rem 1.2rem;
	margin-top: 1rem;
	border: none;
	border-radius: 0.8rem;
	cursor: pointer;
	transition: all 0.3s ease;

	&:hover {
		background: $primary-color-dark;
		transform: translateY(-0.3rem);
		box-shadow: 0 1rem 2rem rgba($color-gray, 0.2);
	}

	&:active {
		outline: none;
		transform: translateY(-0.1rem);
		box-shadow: 0 0.5rem 1rem rgba($color-gray, 0.2);
	}

	&__menu {
		display: none;
		align-self: center;
		margin: 0 0 0 auto;
		/* ================================Media Query================== */
		@include respond(tab-port) {
			display: flex !important;
		}
	}
}
