/* ================================UtilityBox============================== */
.utilityBox {
	color: $color-white-1;
	background: $color-bg-dark-2;
	min-width: min-content;
	max-width: 32vw;
	padding: 2.4rem;
	border: 2px solid $color-white-2;
	border-radius: 1.2rem;
	box-shadow: 0 0 2rem 1rem rgba($color-bg-dark, 0.2),
		0 0 4rem 4rem rgba($color-bg-dark, 0.2),
		inset 0 0 4rem rgba($color-bg-dark, 0.6);
	hyphens: auto;
	display: grid;
	grid-template-columns: repeat(2, minmax(10rem, 30rem));
	align-items: center;
	gap: 1rem;

	position: fixed;
	top: 50%;
	right: 3rem;
	transform: translateY(-50%);
	z-index: 99;

	/* ================================Media Query===================== */
	@include respond(tab-port) {
		max-width: 60vw;
		transform: translate(calc(100% + 5rem), -50%);
		transition: all 0.6s ease-in-out;

		&.show {
			transform: translate(0, -50%);
		}
	}

	@include respond(phone) {
		max-width: 80vw;

		&.show {
			transform: translate(2rem, -50%);
		}

		& .btn {
			grid-column: 1 / -1;
		}
	}
}

.utilityBox label:not(:first-child) {
	margin-top: 1.4rem;
}

.utilityBox label,
.utilityBox input {
	grid-column: 1 / -1;
	color: inherit;
	width: 100%;
	display: block;
	border: none;
	outline: none;
}

.utilityBox input[type="number"] {
	color: $color-gray;
	background-color: $color-white-1;
	padding: 0.4rem 1.2rem;
	border: 0.2rem solid $color-white-1;
	border-radius: 0.6rem;
}
